[2016-10-11 07:35] jotak opened #11 "Build and release process"
Following the discussions on this PR: #8

- Use travis for running tests (and only tests - no CD)
- Remove the "dist" directory from versioning, as this PR suggests. This directory is quite annoying for code-review and it also double every conflict we could have during merges.
- Create a branch dedicated to releases (named "release" or "dist" ?). This branch is the only one that would contain the

[2016-10-11 12:02] jotak opened #14 "Query by tag: text field too small"

[2016-10-17 11:27] jotak commented on #11
done

[2016-10-17 11:27] #11 closed

[2016-10-25 11:44] #14 closed

[2016-10-26 10:18] jotak opened #24 "Build specific vert.x dashboard"

[2016-11-01 13:39] pilhuhn opened #25 "Change readme to Markdown for inclusion on Grafana.net"
The plugin list on grafana.net uses Markdown for the description. Unfortunately there is no support for AsciiDoc (yet)

[2016-11-01 14:01] pilhuhn opened #26 "Auth says "success" even if no credentials given."

[2016-11-01 14:44] #25 closed

[2016-11-03 15:56] jotak commented on #26
Fixed

[2016-11-03 15:56] #26 closed

[2016-11-11 13:50] pilhuhn opened #36 "Auth check over-eager"
The auth check from #32 is over eager in the sense that it only works for Hawkular-Metrics, but not for Hawkular-services:

[code]

I found that just accessing / may be enough already:

[code]
vs

[code]

(of course the check for a valid tenant needs to be adjusted)

[2016-11-14 10:00] jotak commented on #36
I checked the "/" endpoint with openshift and a bearer token, unfortunately it is allowed publicly without authentication. The bearer token can be wrong but the requests gives a correct response.

So I suggest to use another endpoint like 'http://localhost:8080/hawkular/metrics/metrics' to be sure that the authentication is checked

[2016-11-30 19:47] garethahealy opened #40 "Docker image doesn't work in OCP"
Due to the grafana base image using "gosu" - runs as root and switches to grafana, which in OCP isn't the user thats actually running the pod - and volumes for etc/grafana/plugins; it doesn't work in OCP out of the box and requires some fiddling.

Might be a good idea to just provide hawkulars own grafana docker image, instead of using upstreams. Had to do the following for a customer: https://git

[2016-12-01 08:06] jotak commented on #40
I also had some trouble with the official grafana image because it declares plugins location as a volume. I agree with providing our own grafana image.

[2016-12-01 08:07] #36 closed

[2016-12-09 03:20] agent462 opened #42 "Search by tags"
I hope I'm doing something dumb but I've been unable to get the Search by tags working as an option.  I only ever get "select metric" option when building metrics for a panel.

I feel like I've tried everything.  I've followed:
http://www.hawkular.org/hawkular-clients/grafana/docs/quickstart-guide/
and
http://www.hawkular.org/blog/2016/10/24/hawkular-metrics-openshift-and-grafana.html

I've tried

[2016-12-09 07:56] jotak commented on #42
Hi,
Can you check your version of hawkular metrics? You can get it from the url _[metrics server]/hawkular/metrics/status_

Querying by tag is only possible for metrics version >=0.20.0

[2016-12-09 07:57] jotak commented on #42
(btw, I will update the documentation to mention that)

[2016-12-09 08:31] jotak commented on #42
Note that if your version of hawkular-metrics is lower than 0.20.0 (but greater than 0.16.0), you can get a similar result than explain on the blog post ( http://www.hawkular.org/blog/2016/10/24/hawkular-metrics-openshift-and-grafana.html )

To do so, when you create a template variable just use the syntax to query metric ids, although it is more cumbersome, with "tags=" instead of "tags/": `tags=

[2016-12-09 10:08] #40 closed

[2016-12-09 15:21] agent462 commented on #42
That's it -> 0.18.4.Final-redhat-1

What's sad is that's what RedHat is shipping with OpenShift.  We will need to update.

Thank you much!

[2016-12-12 10:51] #42 closed

[2016-12-22 08:59] jotak opened #45 "Basic auth doesn't work in direct mode"
(but it works in proxy mode)

[2016-12-28 05:11] hardbone12 opened #47 "Alerting Support for hawkular datasource"
Im using grafana v4.1.0-beta1 (commit: v4.1.0-beta1) working with hawkular datasource plugin v1.0.6
the metrics works fine ,;)  But here is some alert config error:

tsdb.HandleRequest() error Could not find executor for data source type: hawkular-datasource

Does this mean that the hawkular datasource not support the alert function or i missed something?

![hawkular-alert](https://cloud.githubuse

[2017-01-02 12:19] jotak commented on #47
As far as I know it is not yet possible to support Grafana alerts within 3rd party plugins.
According to this issue (https://github.com/grafana/grafana/issues/5858 ) even built-in datasources are not all supported yet.

[2017-01-02 13:10] pilhuhn commented on #47
I have hacked https://github.com/grafana/grafana/compare/master...pilhuhn:hawkular-alerts which allows you to set up alerting here (the warning would still show, as the plugin also needs a `alerts:true` element. Alerting would be done in/with Grafana and not hawkular-alerts though.

[2017-01-10 11:58] gordillo-ramon-redhat opened #48 "Openshift Persistent template service selector does not match with pod"
Hi.

I am using https://github.com/hawkular/hawkular-grafana-datasource/blob/master/docker/openshift/openshift-template-persistent.yml for deploying the hawkular-grafana in Openshift Origin 1.4.0-rc1.

The service selector does not match with pod. The fix consists on deleting the "deploymentconfig" label in the selector match.

However, it has to be confirmed that works also in OCP 3.3.

[2017-01-10 12:41] gordillo-ramon-redhat commented on #48
In OCP 3.3, the template works "as is". Good to test with OCP 3.4 after release.

[2017-01-14 12:39] garethahealy commented on #48
@gordillo-ramon-redhat can you retest with the following template?

`oc process -f https://raw.githubusercontent.com/garethahealy/hawkular-grafana-datasource/master/docker/openshift/openshift-template-ephemeral.yaml | oc create -f -`

https://github.com/garethahealy/hawkular-grafana-datasource/commit/87977a345789a59aa759759986a68dc951014e9f

Have tested locally on minishift v1.4.0-rc1 and works.

[2017-01-16 08:37] #45 closed

[2017-01-16 10:14] jotak opened #49 "Improve querying with tags suggestion"
Thanks to an enhancement on a the server side (https://issues.jboss.org/browse/HWKMETRICS-532), we can improve querying for metrics. I suggest:

- Removing the "query by id" vs "query by tags" selector and replace it with an unified querying panel
- This unified panel allows to provide both tags and metric name at the same time.
- Tags are now suggested thanks to HWKMETRICS-532
- Providing tags al

[2017-01-16 10:15] jotak commented on #49
This enhancement would be active for metrics >= 0.22.0. Current behaviour will still apply for earlier server versions.

[2017-01-16 11:34] tsegismont commented on #49
Simplifying sounds good to me, but can you give an example of what a user
would type to differentiate a metric name from a metric tag if there's a
single text box?

2017-01-16 11:15 GMT+01:00 Joel Takvorian <notifications@github.com>:

[2017-01-16 12:13] jotak commented on #49
My idea would be not to have a single text field, but maybe 2, on two lines: one for query, one for tag. I'm not totally decided yet on what to suggest... I'll post an example screenshot to illustrate.

[2017-01-16 12:15] jotak commented on #49
(and of course it's open for discussion. I'll open a thread on the ml)

[2017-01-17 10:52] jotak commented on #49
There's a new upcoming feature in Hawkular, a "tags query language" ( https://issues.jboss.org/browse/HWKMETRICS-523 ). I'll know more about it this afternoon, it may worth to integrate it somehow in Grafana.

[2017-01-24 08:42] jotak opened #52 "Implement tags query language"
A new "tags query language" is being implemented in metrics: https://issues.jboss.org/browse/HWKMETRICS-523

It will be used here in Grafana. Tasks list:

- [x] Connection to the new metrics endpoint.
- [x] Re-design the UI to allow search by metric name AND to enter tags at the same time. Having tags will refine the metric names auto-completion.
- [x] Create a "builder" UI for the new tags query

[2017-01-24 08:45] jotak commented on #49
replaced with #52

[2017-01-24 08:45] #49 closed

[2017-01-31 21:42] francizs opened #55 "Grafana won't generate a graph"
No graphs are being generated by Grafana although a correct Data Source has been added. I have tried doing a curl with multiple different tags to hawkular-metrics and I get a response with data. Some examples:

`curl -H "Authorization: Bearer xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx" -H "Hawkular-Tenant: ci" -X GET 'https://hawkular-metrics.env.xxxxxxx/hawkular/metrics/counters/data?stacked=true&tag

[2017-02-01 08:17] jotak commented on #55
Hi @francizs

Can you check your version of both hawkular-metrics and the hawkular-grafana-datasource? Based on your screenshots, it seems a bit old (no search by tags capability) and, knowing that some old versions were not able to speak with openshift pods, I fear it's the problem here.

Note, in order to know your version of hawkular-metrics you can check the endpoint (GET) `/hawkular/metrics/s

[2017-02-01 09:00] francizs commented on #55
@jotak hello agian!

{"MetricsService":"STARTED","Implementation-Version":"0.18.4.Final-redhat-1" and
Grafana v3.1.1 (commit: a4d2708).

**You can either search by metric id or by tag, assuming your version of hawkular-metrics is at least 0.20.0. Prior versions only allow searching by id. I saw that but assumed it shouldn't give any problems to get themetrics.**

So this version 0.18.4.Final-redha

[2017-02-01 09:33] jotak commented on #55
Actually, 0.18.xx should work with openshift pods. I would personally recommend a newer version, especially in the context of openshift + grafana because querying by tags offers a much more flexible way to build dashboards (I wrote [a blog post about it](http://www.hawkular.org/blog/2016/10/24/hawkular-metrics-openshift-and-grafana.html)).

I'm not especially aware of a version of Hawkular that wo

[2017-02-01 14:14] garethahealy commented on #48
@gordillo-ramon-redhat have you had chance to check with the updated template?

[2017-02-01 15:43] francizs commented on #55
@jotak First of all I set the latest version and I can see the graph now! It seems 0.18 still has some issues with connecting to pods.

Regarding 0.18 version, I have tried 2 of the points you suggested and
1) I am/was using **direct** in Grafana
2) Haven't tried inspecting the webpage code
2) Restarting was done multiple times

Thanks for helping out!

[2017-02-01 20:13] jotak commented on #55
You're welcome. So, if you're fine with the latest version, I'll close the issue. But if you want to stick to 0.18 then you would have to use the proxy mode in Grafana, not direct.
You can let me know / reopen if it's not ok.

[2017-02-01 20:13] #55 closed

[2017-02-08 16:27] jotak commented on #52
Note I'll update the website once this is merged here

[2017-02-08 22:17] gordillo-ramon-redhat commented on #48
It is strange. The behaviour is exactly the same as in the original, if you go to the console, it show you the route and the service, an it says they are not attached to a dc or pod, but...

When you use the route, it redirects to the app. It makes me wonder if the problem is in the console and not in the route/service/dc.

Though, I guess it is a bug in Openshift rather than in the template. Anyw

[2017-02-16 15:03] #48 closed

[2017-02-22 09:42] jotak opened #58 "Customize legend"
Provide a way to display custom legend instead of the metric name, which sometimes is not user-friendly at all.

Allow the use of variables / tags in legend template?

[2017-02-23 00:56] stobias123 opened #59 "Adding Openshift Metrics Deployment"
I'm trying to add my openshift metrics deployment and I'm getting internal HTTP server errors.
I'm using self signed certs, checkbox for "CA certs" is checked and I'm using proxy mode.

Any help would be appreciated, I'd love to get dashboards for our origin apps.

[code]

[2017-02-23 03:40] jsanda commented on #59
I am assuming that Hawkular Metrics and Cassandra are deployed ok such that you are able to collect metrics and view graphs in the console. Can you tell me what kinds of queries you are trying to run when you get the timeout. What tags, date ranges, etc.

[2017-02-23 03:41] stobias123 commented on #59
Yes, metrics work fine within the openshift interface.

I'm not running any queries, just adding the data source and I get an error

[2017-02-23 03:48] jsanda commented on #59
Can you share the logs from your Hawkular Metrics and Cassandra pods? Cassandra should have a debug log file at /opt/apache-cassandra/logs/debug.log. If it is not too big, it would be helpful if you could share it.

[2017-02-23 03:55] stobias123 commented on #59
**HAWKULAR POD**

[code]

**CASSANDRA POD**
[code]

[2017-02-23 04:42] jsanda commented on #59
Unfortunately the log snippets do not provide enough detail. @jotak do you know what queries (if any) run when the data source is deployed and initialized?

[2017-02-23 05:48] stobias123 commented on #59
I just realized I'm on grafana 4.1.1 and docs say this is for grafana 3. Could that be the cause?

[2017-02-23 07:46] jotak commented on #59
@jsanda the first call to the API by the datasource is GET on /hawkular/metrics/status , so it's probably not the problem. Then it performs GET on /hawkular/metrics/metrics with no parameters.

@stobias123 The datasource should be fine on Grafana 4. I haven't tested on 4.1.1 yet (I'll do it), but I'd be surprised Grafana would be the cause of this issue.
Can you open the javascript console (shift+

[2017-02-23 07:50] jotak commented on #59
@stobias123 , can you also check with curl?

[code]
with your openshift token, tenant and hawkular server

[2017-02-23 07:51] stobias123 commented on #59
@jotak it falis here with a 500-> http://grafana-url/api/datasources/proxy/1/metrics

[2017-02-23 07:53] stobias123 commented on #59
[code]
returned nothing.

[2017-02-23 07:56] stobias123 commented on #59
user@server# curl -H "Authorization: Bearer asdfasdfasdf" \
       -H "Hawkular-Tenant: tenant" \
       -X GET https://metrics.cloud.domain.com/hawkular/metrics/metrics -k
{"errorMsg":"Failed to perform operation due to an error: Cassandra timeout during read query at consistency LOCAL_ONE (1 responses were required but only 0 replica responded)"}%

[2017-02-23 07:59] jotak commented on #59
Just a thought... maybe the error in hawkular-metrics logs is not related to this issue. Did you notice if it happens every time you try to test the datasource?

Also I remember that @burmanm fixed a bug on token authentication that ended in timeout on failure, or something like that ( https://github.com/hawkular/hawkular-metrics/pull/752 ). It might be the issue here, which would indicate that th

[2017-02-23 08:04] stobias123 commented on #59
Yes it happens every time I save+test the datasource.

I tried token from both the hawkular service account and from the oauth/token/request. Would that mean I'm requesting token wrong or that I should update my hawkular pod?

[2017-02-23 08:18] jotak commented on #59
@stobias123 can you tell me if it works if you use the "hawkular" tenant (low case)? If so it's something related to permissions on projects ; I need to test on my side, it's been a while I didn't configure permissions... Meanwhile you can have a look to that blog post: http://www.hawkular.org/blog/2017/01/17/obst-hosa.html there are some chapters on authentication & service accounts with hawkular

[2017-02-23 08:37] jotak commented on #59
Hum sorry, if the cassandra timeout is related to the curl command, then it's not an authentication issue, wrong track.

I can't reproduce the error on my side. The "best" I have is a 504 Gateway timeout error when I use an invalid token.

By the way, what's your version of hawkular-metrics? It's given on hawkular front page https://yourserver/hawkular/metrics

[2017-02-23 19:14] stobias123 commented on #59
version of metrics is "0.23.4.Final"

[2017-02-23 19:21] jsanda commented on #59
@stobias123 Do you know how big your environment is in terms of number of pods? What configuration are you using for Cassandra in terms of CPU and RAM?

[2017-02-23 19:25] stobias123 commented on #59
Pretty small, only like 27 pods. It's the default metrics install as of origin 1.3 - only one cassandra pod. It's got no limits or quota, hovering around 7GB of memory and 140millicore CPU

[2017-02-23 19:32] mwringe commented on #59
And you can view the graphs in the OpenShift console without any issue?

[2017-02-23 19:37] stobias123 commented on #59
Yup, no problems in OS console.

@jotak I didn't see your tenant comment until now, I get "Forbidden" when using hawkular tenant.

Previously I'd been using project names as tenant. I can't recall where I read that but I thought that was correct.

[2017-02-23 19:41] mwringe commented on #59
Yes, that is correct. The tenant corresponds to the project name.

This is a bit strange, since the console will be doing essentially the same command it is able to access the data being stored.

The big difference is that the console is not using the /hawkular/metrics/metrics endpoint, but its accessing the metrics more directly.

@jsanda any ideas?

[2017-02-23 19:44] stobias123 commented on #59
Ok so I added my account to the cluster-admin role, and I've got it to connect to hawkular tenant now, but using a project name for tenant still results in error.

Question about permissions though...
What are the minimum security policies I need to assign to a user for this to work?

Appreciate the responsiveness here, thanks to everyone.

[2017-02-23 19:51] mwringe commented on #59
There wont be a 'hawkular' tenant unless you created a project called 'hawkular' in OpenShift :)

You shouldn't have to do anything here. If your user can view pods in your project, then they can view the metrics corresponding to those pods.

The fact that you are getting an error message from Cassandra means that your user has permission, if they didn't have permission it would fail quickly with

[2017-02-23 19:54] jsanda commented on #59
@stobias123, This sounds like a bug in Hawkular Metrics. Would you mind opening a ticket at https://issues.jboss.org/projects/HWKMETRICS? In your Cassandra pod, run `nodetool setlogginglevel org.apache.cassandra DEBUG` and then try adding the data source again. After you get the error, please upload /opt/apache-cassandra/logs/debug.log* to the ticket. This will help me see what is failing.

[2017-02-23 21:58] stobias123 commented on #59
https://issues.jboss.org/browse/HWKMETRICS-610

[2017-02-28 12:50] ljuaneda opened #60 "query tags with grafana variables"
templating is a great feature in grafana

it would be nice to be able to nest variable

$nodename with query=tags/nodename:.*
$metric with query=tags/nodename:**$nodename**,descriptor_name:.*

[2017-03-01 09:19] jotak commented on #60
We can implement nested variables, however I am not sure about this use case because here, with your query `tags/nodename:$nodename,descriptor_name:.*` you would get tags for both `nodename` and `descriptor_name`, mixed together. I guess this is not what you want, you want only the descriptor names here.

In other words, we must find a way to distinguish in query the tags that we want to be return

[2017-03-01 10:08] jotak commented on #60
I've added support for nested variable (PR #61 to be merged) , however as said above I doubt it will be enough for your use case. Next step could be a better query language, that we could put in relation with https://github.com/hawkular/hawkular-grafana-datasource/issues/52

[2017-03-01 11:32] ljuaneda commented on #60
thanks, indeed it could be better with the query language.

[2017-03-01 19:54] ljuaneda opened #62 "Hawkular Tenants as query variable"
With Openshift-Metrics, the hawkular tenant is hardcoded to the pod namespace.
When you have hundred of namespaces, it's not conveniant to declare that much datasources in grafana.

Could it be possible to make tenants a variable ?
Maybe, it's even possible to populate this automatically calling API REST point /tenants

[2017-03-02 12:23] fche opened #63 "memory leak in grafana 4.1.2 + hawkular-datasource 1.0.7 + hawkular 0.18"
A pretty vanilla dockerfile based on the docker/* sample here, deployed to openshift 3.3.1.3, results in a steady memory leak.  The only activity to the grafana server is a periodic (10s) liveness test to the / URL, so am not sure that the hawkular datasource is even implicated.  I'm reporting here first to see if this sounds familiar.

/proc/.../maps after 12 hours of runtime
http://sprunge.us/PQ

[2017-03-02 15:13] jotak commented on #63
If I understand, your "osd-monitor" container is really just Grafana + this datasource plugin?

[2017-03-02 15:14] fche commented on #63
yup

[2017-03-02 20:36] fche commented on #63
Later testing seems to implicate the periodic health-testing inquiries from openshift.  Is there any plausible hawkular-datasource linkage to this?

          livenessProbe:
            failureThreshold: 3
            httpGet:
              path: /
              port: 3000
              scheme: HTTP
            initialDelaySeconds: 1
            periodSeconds: 10
            successThreshold: 1

[2017-03-02 21:36] fche commented on #42
@jotak, I was not able to get your special template recipe working against a 0.18.5 hawkular (OS 3.3) instance.  Do you have by any chance a full grafana .json dashboard that demonstrates it?

[2017-03-03 09:40] jotak commented on #42
@fche Unfortunately I don't have a dashboard for real openshift w/ hawkular 0.18.x but here's a example that I think should work:
 https://gist.github.com/jotak/55c1cfb19f1a5a80ac0d3d73d5fda541 . It's a dashboard with just a variable defined, nothing more.

Please tell me if it doesn't. On my side I've just emulated some metrics named for instance "aloha/123-456-789/memory/usage" or "hola/654-987-

[2017-03-03 13:46] jotak commented on #62
That's interesting. We could add a checkbox in the datasource configuration, to enable per-query tenant. When enabled, a new field appears for each query to ask for a tenant.

However, having an automatically populated list of tenants seems problematic to me, because the /tenants endpoint is admin-protected (maybe not in the version of Hawkular you are using, it's been protected since 0.20.0). An

[2017-03-03 15:17] fche commented on #42
Thanks, progress. It seems that loading that dashboard was acceptable to hawkular, but apparently triggered an OOM-based crash/restart of the underlying cassandra instance.  The latter is being restricted to 2GB RAM.  Should that have been enough to answer basic queries like that one, when running against a realistic sized openshift cluster?

[2017-03-06 10:27] tsegismont commented on #62
2017-03-03 14:46 GMT+01:00 Joel Takvorian <notifications@github.com>:

How would authentication work? Isn't the password tenant related?

[2017-03-06 10:48] jotak commented on #62
As far as I know, in openshift you can create a service account that has rights on several projects ; so I guess you can set its token and use it for several tenants. Though I never tested.

[2017-03-06 12:06] ljuaneda commented on #62
That's right, openshift relies on service accounts, to get the tenants list
you actually don't have to specify a real tenant in hawkular :

[root@siy05ez1:~]# curl -k -H "Hawkular-Tenant: *FAKE*" -H "Authorization:
Bearer $(oc sa get-token -n management-infra management-admin)" "
https://metrics.osev3-qt9-infra.hpmetier.sf.intra.laposte.fr/hawkular/metrics/tenants"
-X GET -s  | jq .[].id
"default"

[2017-03-09 18:09] gildean commented on #62
I can confirm that you can create a service account that has rights to multiple projects. I'd very much appreciate this feature as well.

[2017-03-14 15:05] jotak commented on #42
Hi, we would need just a clarification, to be sure if the OOM happens while querying "/metrics?tags=container_name:*" : you had this crash just while loading the provided dashboard, right? Without even starting to modify it, creating charts, etc?

[2017-03-14 15:12] fche commented on #42
I'm not sure when exactly the crash happened.  From the grafana user's point of view, there are gateway timeouts or empty results or whatever.  The OOM messages were found in cluster admin logs (not available to me) reported around the same time.

[2017-03-29 18:41] pat2man commented on #59
I've had issues like this when my Cassandra pods' resource limits were set too low. Too many data points causes timeouts all over. Increasing the limits I can get it to work most of the time.

[2017-04-21 22:22] novonilc opened #67 "Cant Add Hawkular Dashboard"
I cant add hawkular dashboard from https://github.com/hawkular/hawkular-grafana-datasource/blob/master/dashboards/openshift-memory-example.json . It gives error 'cant find hawkular datastore' . hawkular datastore is successfully deployed though
![image](https://cloud.githubusercontent.com/assets/15949053/25297996/5696beda-26a6-11e7-8fe5-5bbc5b9a509f.png)

[2017-05-01 05:21] rathna023023 commented on #47
I need alerting to work for sqldb datasource, what will be the best idea

[2017-05-03 07:36] jotak commented on #67
Hey,
You're right, this dashboard has been broken when the plugin id was changed some time ago.
I've sent a pull request, but you can manually edit the dashboard's json to replace the plugin id "hawkular" with "hawkular-datasource", then try again.
See the changes here: https://github.com/hawkular/hawkular-grafana-datasource/pull/68/files

[2017-05-10 08:00] #67 closed

[2017-06-09 13:14] valsaraj opened #78 "Alerting shows error"
Error while setting alert in Grafana:

[2017-06-09 15:54] jotak commented on #78
Alerting is not available with the hawkular datasource (or any other third-party datasource since there's no public API for that), so you cannot use alerts from within Grafana.

However hawkular has its own alerting engine that you could use instead, though it's not visible from grafana dashboards: example here http://www.hawkular.org/hawkular-services/docs/quickstart-guide/#_step_3_add_alerting

[2017-06-09 15:54] #78 closed

[2017-07-11 13:55] jotak opened #79 "Query on stats with chart panels"
Query on stats is already done for single stats panel, allowing in the same time to aggregate multiple metrics.

The same should be done for chart panels.
In addition, it would be nice to allow to display both min, max and avg within a single query (not performing 3 queries!)

[2017-07-17 11:57] #79 closed

[2017-07-19 08:39] #52 closed

[2017-07-19 08:40] jotak commented on #24
Note: it has been done through https://github.com/jotak/hawkular-grafana-outofthebox

[2017-07-19 08:40] #24 closed

[2017-07-21 12:31] jotak commented on #60
The tags query language has been released since 1.0.8

[2017-07-21 12:31] #60 closed

[2017-07-21 12:37] jotak commented on #59
Closing here as it is related to resource limits and ticket https://issues.jboss.org/browse/HWKMETRICS-610 is opened for server side

[2017-07-21 12:37] #59 closed

[2017-07-21 12:40] jotak opened #82 "Remove dependency on "originalQuantile""
Remove this dependency when processing stats response, as it was leaking in the rest api by mistake and should be removed soon (see https://issues.jboss.org/browse/HWKMETRICS-706 )

Implementation hint: there's no need to match the returned percentiles with the requested one. We can assume all percentiles in response were requested.

[2017-07-24 08:46] #82 closed

[2017-07-31 02:20] cdan commented on #47
It seems grafana alert supports Prometheus now. Will hawkular add this feature in the near future?

[2017-07-31 07:12] jotak commented on #47
Hi @cdan
I don't think the situation has changed for us, Prometheus support for Grafana alerts doesn't go through the Prometheus datasource plugin, but through specific server-side code as we can see there: https://github.com/grafana/grafana/blob/7d205ae2b83fb35833dd902f8eb85cb53f631d32/pkg/tsdb/prometheus/prometheus.go

[2017-08-03 08:17] kkraemer42 commented on #47
Many thanks to @pilhuhn , just used your hack and it works after a slight codechange for the latest grafana version. Only question remaining for me: How do I disable strict certificate checking?
Right now I get an error reading "x509: certificate signed by unknown authority".
This is only an issue in alerting, the dashboard works fine and i get an alert, but inside the alert is only this error.

W

[2017-08-17 08:08] hardbone12 commented on #58
Maybe just use "pod_name", "pod_namespace/pod_name" or other tag value will be better

[2017-08-28 09:12] hardbone12 opened #86 "Edit Graph "Metrics Query" can not Toggle Edit Mode"
I used some Templating to filter metric tags. When the metric tags variable has contains "."  Can not be returned from edit mode. And browser console has some errors

Query expression:
nodename IN [$node] AND descriptor_name IN [$metrics] AND type IN [$type] AND labels.application IN [$app] AND labels.application_model IN [$app_model]

![image](https://user-images.githubusercontent.com/16435298/29

[2017-08-28 09:39] jotak commented on #86
It seems that a server-side change got unnoticed here ( related to https://issues.jboss.org/browse/HWKMETRICS-611 ). Dot is going to be added as allowed character for tag names.

[2017-08-28 09:49] jotak commented on #58
Yes, that would be nice, the only thing that is bugging me is that the current REST API doesn't return tags with metric data, which means that for each query I would have to perform a second http request to get the tag values of the returned metrics.

Or change the REST API.

[2017-08-28 09:50] jotak commented on #62
Done

[2017-08-28 09:50] #62 closed

[2017-08-29 03:28] hardbone12 commented on #86
Define a pod_label_tags-prefix global setting on hawkular-openshift-agent configMap can also solve this ;)
collector:
  pod_label_tags_prefix: labels_

Thanks. I rebuild the plugin. It works for me.

[2017-08-29 03:53] hardbone12 commented on #58
Agree, Without change the REST API may need to implement mapping tags API response data to raw/query
 API data.

[2017-08-30 15:19] arnaudlemaignen commented on #59
Hi all
Do we have news on this issue? The bug is still open but discussion is closed.
I have exactly the same issue using Grafana 4.1.2+Hawkular 0.23.8 in an Openshift env.
Increasing the memory limit did not helped.

Thanks

[2017-08-30 15:35] jotak commented on #59
Hi @arnaudlemaignen ,
When you say you have the exact same error, do you mean Cassandra read timeout ? (message "Caused by: com.datastax.driver.core.exceptions.ReadTimeoutException: Cassandra timeout during read query ..." in hawkular pod logs)
Can you provide hawkular and cassandra pods logs?

[2017-08-30 16:41] pat2man commented on #58
What about some sort of regex?

For instance, with OpenShift router metrics and hawkular-openshift-agent I get the following metric:

```pod/c6e2a9ab-8d1c-11e7-b7be-06415eb17bbf/custom/haproxy_server_bytes_in_total{namespace=my-namespace,pod=web-45-6f464,route=web,server=10.1.10.138:8080,service=web}```

I have the pod name there in the name, but it gets cut off in the legend because it is too lon

[2017-09-11 11:58] #86 closed

[2017-09-12 11:18] jotak opened #90 "Resolve variables from per-query tenant field"
As discussed in #85 templating variables are not resolved when used in the per-query tenant field.
Also in such case, the tenant name should probably be mentioned in the chart legend for disambiguation.

[2017-09-15 14:07] ljuaneda commented on #90
Is this ready to be released ?

[2017-09-15 15:19] jotak commented on #90
Did you have a chance to try it before I release it?

[2017-09-15 15:34] ljuaneda commented on #90
I've tried to pull your commit and build the docker image
To do that I have to modify the Dockerfile as it was pulling the last release from github.

Can you provide a quick tuto so that I can build my own img ?

[2017-09-15 16:13] jotak commented on #90
Actually, I've just found a bug with the new code, I must fix it first...

[2017-09-18 07:09] ljuaneda commented on #90
ok thanks, I'd like to test that but I'm not sure I'm building the img the right way
a makefile could help anyway...

[2017-09-18 07:42] jotak commented on #90
@ljuaneda I'm adding some doc about that: cf https://github.com/hawkular/hawkular-grafana-datasource/pull/92

[2017-09-18 07:43] jotak commented on #90
(but it requires you to have dev environment, that is nodejs/npm/grunt)

[2017-09-18 12:08] ljuaneda commented on #90
I have built an image following your doc, but something goes wrong using the resulting docker image:

[code]

Il looks like grafana plugin isn't correctly installed...
[code]

[2017-09-18 12:53] jotak commented on #90
That's weird, your plugin path is `/var/lib/grafana/plugins/hawkular-datasource/hawkular-grafana-datasource-release` whereas I would just expect `/var/lib/grafana/plugins/hawkular-datasource`

Not sure where this `hawkular-grafana-datasource-release` comes from, it looks like something brought by the other dockerfile (not the new Dockerfile.dev).

Can you make sure you used Dockerfile.dev (with co

[2017-09-18 12:55] jotak commented on #90
And can you also make sure that your `dist` directory doesn't contain this `hawkular-grafana-datasource-release`? (I don't know what it would, but it could be the reason)

[2017-09-18 13:11] ljuaneda commented on #90
Sorry, my mistake...
I've rebuilt again, it is working just fine !!!

[2017-09-18 13:13] jotak commented on #90
Cool!
I don't know if you noticed, I opened another PR here [ #93 ] with a fixed issue (metrics and tags suggestion with templated tenants were showing empty results). I hope that with that one, we'll be good

[2017-10-13 16:12] xhottam opened #94 "[Tenant per query]"
"hawkular-grafana-datasource", "version": "1.1.0"

I'm unable to  variabilize "Tenant" field in "Metrics" from one "Templating-Variables." If is it possible?

as example:
name :
values: skydive,infrastructure

[OK]query with Tenant hand-populated as "infrastructure"
Request heaader : Hawkular-Tenant infrastructure
{"start":1507910103999,"end":1507910404002,"order":"ASC","tags":"container_name:*,de

[2017-10-17 08:52] jotak commented on #94
Hi @xhottam , do you have the ability to test with PR #93 , if you have access to your grafana deployment? It should fix this issue.
If you need a docker image, I've built one out of this PR: hawkular/hawkular-grafana-datasource:pr-93  (available on dockerhub)

[2017-10-18 12:39] sbadakhc opened #95 "Unknown error when adding datasource"
Hi,

I get an unknown error when attempting to add the Hawkular datasource.

In the pod log I see:
[code]

The path looks wrong but I have correctly added the data source as per instructions.

Please advise

[2017-10-18 18:22] sbadakhc commented on #95
This was related to the Openshift hawkular-cassandra pods. Restarting the pods got everything working.

[2017-10-18 18:22] #95 closed

[2017-10-19 10:02] sbadakhc commented on #94
Hi,

I'm also interested in being able to monitor all the the projects on my openshift without having to set up a datasource for each tenant. Is this possible?

[2017-10-19 13:22] ttindell2 commented on #47
So will this be ported into the actual official release? Not having alerts for Hawkular is not cool.

[2017-10-19 14:02] jotak commented on #47
@ttindell2 that would need to be ported in core Grafana, and I doubt it can happen :(
But Hawkular has its own alerting component that's worth seeing: http://www.hawkular.org/community/docs/developer-guide/alerts-v2.html

[2017-10-19 14:10] jotak commented on #94
@sbadakhc yes, it's the purpose of the recent PRs #91 (merged) and #93 (not merged yet, fixing bug in the former).
As per my previous comment, feel free to try a provide feedback. I'd be really glad if it could be validated against openshift use cases before we release.

[2017-10-31 15:19] sbadakhc commented on #94
I'm happy to test and feedback. Thanks.

[2017-11-13 18:50] steveteuber commented on #94
@jotak Docker Image `hawkular/hawkular-grafana-datasource:pr-93` it is working just fine!

[2017-11-13 19:31] ljuaneda commented on #94
+1
Tests ok too with grafana 4.6.1

[2017-11-14 07:39] jotak commented on #94
@steveteuber @ljuaneda thanks for your feedback, I'm proceeding to the release & docker image push

[2017-11-14 08:03] jotak commented on #90
Just released 1.1.1, which addresses the remaining issues

[2017-11-14 08:03] #90 closed

[2017-11-14 08:04] jotak commented on #90
(And dockerhub registry has been updated too)

[2017-11-14 08:04] jotak commented on #94
Just released 1.1.1 with the fix. The dockerhub registry has been updated too.

[2017-11-14 08:04] #94 closed

[2017-12-07 11:25] LarsMilland commented on #58
Would any solution on this issue reach a conclusion in the near future. We would also like to have such a feature with either regex or through use of other tags from the metrics to populate the legend descriptive values. We are using the Hawkular Datasource plugin with metrics collected from OpenShift so have also long and non-usable metric names.

[2017-12-11 12:12] sshingarapu opened #96 "Dashboard for all tenants with Tenant per query"
Hi,

We have installed grafana with version 4.6.0. Installed hawkular-datasource plugin with version 1.1.1.

Created one datasource for all tenants. Now we would like to build a dashboard for all the existing tenants(projects) by using regex or some other way in tenant field. We have more than 100 projects in openshift and it is very difficult to give each tenant name in tenant filed.

Basically w

[2017-12-11 15:01] jotak commented on #96
The problem is that there is no way to get the list of hawkular tenants from Grafana. The Hawkular API has a `/tenant` endpoint, but it is admin-protected and should not be used from the grafana plugin.

Maybe there's a possibility to do something using the Kubernetes and Grafana HTTP APIs: from the former, getting the list of namespaces (ie. Hawkular tenants) https://kubernetes.io/docs/api-refere

[2017-12-11 15:09] jotak commented on #58
Wow, it must have changed since the last time I used it. It looks like a prometheus metric name, now. There's definitely some regexp that could be done here. I will have a look when I have some time for it, but in the meantime don't forget that PRs are welcome :-)

[2017-12-11 15:36] jotak commented on #58
Ok just figured out it's HOSA naming. I'm not so much familiar with it, but any solution would have to be generic enough, not just focused on HOSA.

So, I can imagine a "legend" text field where one would type for instance:
`HAProxy Server Bytes {{namespace=([^,}]+)}} / {{pod=([^,}]+)}}`

which would result in:
`HAProxy Server Bytes my-namespace / web-45-6f464`
based on the original name
`pod/c6e2

[2017-12-12 15:49] jotak commented on #58
If anyone wants to use before it's released, there's a docker image available with the PR: `hawkular/hawkular-grafana-datasource:dev-build` (docker hub)

[2017-12-13 09:56] ctron opened #99 "Duplicate names with multiple series aggregation"
Using the feature "Multiple series aggregation" might create duplicate names when using it more than once in a graph.

Steps to reproduce:
* Add two metrics
* Aggregate both with (e.g.) Sum -> Stat type "sum"

Result:
* You have two metrics named "sum" and no way to change them

Expected Result:
* As metrics are actually named "A", "B" it could use those to avoid collision.
* Or simply allow to pu

[2017-12-13 13:08] jotak commented on #99
There is a new field "legend" that is exactly for this purpose (see #58 ) , but I 've just checked with multiple series aggregation it is not used to override the series name as expected.
I'm working on a fix.

[2017-12-15 08:53] jotak commented on #99
It's merged, docker image : `hawkular/hawkular-grafana-datasource:dev-build` (docker hub)
We'll probably release beginning of next week if nothing else comes up..

[2018-01-04 14:04] sshingarapu opened #101 "Unable to run hawkular query from grafana"
Hi,

We are trying to fetch metrics in grafana from Openshift origin using hawkular-metrics. It worked well for few days with 3-5 projects. However, the moment we go to dashboard which fetch metrics from multiple (around 100 projects) we get multiple errors & mostly cassandra timeout as below:

1.  "errorMsg": "Failed to perform operation due to an error: Cassandra timeout during read query at con

[2018-01-09 14:48] mwringe commented on #101
What version are you running? Can you please post the output of 'oc get pods -o yaml -n openshift-infra'

[2018-01-16 18:10] sshingarapu commented on #101
We redeployed the hawkular metrics and the issue got resolved. Thanks for your help.

[2018-01-16 18:26] sshingarapu commented on #96
Thanks Jotak. Sorry for the delay in response. We will try the above workaround and get back to you for any issues.

[2018-01-16 18:26] #96 closed

[2018-01-18 07:07] rhalagali commented on #101
I think this issue may come for even cluster is not configured properly. Sometimes master node wont show.

I had below message and I got know that problem with cluster.
![cassandra error](https://user-images.githubusercontent.com/26364983/35084905-213ad5b6-fc1e-11e7-8a86-2a8165219b2f.PNG)

[2018-01-19 11:30] sshingarapu commented on #101
Hi,

I reopened this for the below query.

We also observed that JVM heapsize for hawkular-metrics by default is 512 MB. However, this pod always runs more than of this memory allocation.
And when we fetch metrics from grafana for 10/30 days it is taking some time to load the metrics.
How can we increase the JVM heapsize for hawkular-metrics?

[2018-02-09 10:31] jbares83 commented on #99
Any update regarding to the issue

[2018-02-09 14:54] jotak commented on #99
@jbares83 it was available for a while if you build from source or if you use a docker image (I provided the name above: `hawkular/hawkular-grafana-datasource:dev-build` (docker hub)

I'm currently releasing and pushing 1.1.2 to dockerhub

[2018-02-09 14:56] jotak commented on #58
released in 1.1.2

[2018-02-09 14:56] #58 closed

[2018-02-09 14:59] jotak commented on #99
Fixed in 1.1.2 https://github.com/hawkular/hawkular-grafana-datasource/releases/tag/v1.1.2

[2018-02-09 14:59] #99 closed

[2018-03-08 08:55] viv816 opened #102 "Tags query not removing single quote from template variable"
Hi,

Grafana Version= 4.1.2
Hawkular Version = 0.28.1.Final

I want to use variable value in tags QL as follows

Actual Query :

labels.app=$app AND metric_name='org.apache.camel:context=[[app]],name=*,type=routes#MaxProcessingTime'

Expected Result :

labels.app='demo-context' AND metric_name='org.apache.camel:context=demo-context,name=*,type=routes#MaxProcessingTime'

I want **_[[app]]_** to be

[2018-03-08 15:04] jotak commented on #102
Can you try by turning off the tags edit mode?
As described here: https://github.com/hawkular/hawkular-grafana-datasource#queries (third image)

[2018-03-10 12:14] viv816 commented on #102
Thanks for responding.

I still get error after turning off the tags edit mode.  When I check the value for [[app]] after clicking the red icon on top left, the value is still enclosed in single quotes.

I want this as output

metric_name='org.apache.camel:context=**ws-cifdetail**,name=*,type=routes#Load01'

not this

metric_name='org.apache.camel:context=**'ws-cifdetail'**,name=*,type=routes#Load

[2018-03-12 15:22] jotak commented on #102
Hi @viv816 ,
I'm trying to find the best way to solve this issue. The variable content is escaped in order to prevent failures in the tags parser, in constructs such as: `my_tag IN [$app]` , where a character like `,` or `]` in $app would break the parsing.

A workaround could be to define a new "custom" variable in Grafana with nested `$app`, like this:  `metric_name='org.apache.camel:context=$ap

[2018-03-19 03:25] viv816 commented on #102
Hi @jotak ,

Thanks.

Is there any other way to solve this issue? Where can I find more help for this problem?

[2018-03-30 07:45] jotak commented on #102
Sorry for the late response, I have been quite busy these weeks.
I've just proposed a solution here: https://github.com/hawkular/hawkular-grafana-datasource/pull/103

[2018-04-02 09:25] viv816 commented on #102
Thank you very much.

I will try to pull the new image and inform you after my testing.

[2018-06-11 02:51] kalote commented on #62
Hello,

Where is the doc on how to use it? how to set the variant per query => ok, it's in the datasource config, but how to set up the tenant as a variable in the dashboard (and how to use it when making a new panel)
Thanks

[2018-06-12 10:53] jotak opened #104 "Document per-query tenant feature"
Document in readme changes introduced in https://github.com/hawkular/hawkular-grafana-datasource/pull/85

[2018-06-12 10:53] jotak commented on #62
@kalote yes, sorry, you're right that some documentation is missing. Just created an issue about that: https://github.com/hawkular/hawkular-grafana-datasource/issues/104
Thanks for reporting.

[2018-06-12 15:13] jotak commented on #104
done

[2018-06-12 15:13] #104 closed

[2019-02-01 02:20] hardbone12 commented on #47
Migrated to the [openshift/cluster-monitoring-operator](https://github.com/openshift/cluster-monitoring-operator) project, So close this issue.

[2019-02-01 02:20] #47 closed

[2019-03-19 16:10] apolegoshko commented on #102
+1 to this